body {
    padding: 70px 0 0;
    font: $fontReg;
    color: $black;

    @media print {
        padding: 0;
    }
}

.site_wrap {
    padding: 0 15px;

    @include min-screen($desktop) {
        padding: 0 30px;
        max-width: $desktop;
        margin: 0 auto;
    }

    @include min-screen($widescreen) {
        max-width: $widescreen;
    }

    @media print {
        width: 100%;
        padding: 0;
    }
}