$el: expiring_list;


.#{$el} {

    &__item {
        display: flex;
        flex-direction: column;
        padding: 0 15px 30px;
        margin: 20px 0 0;
        border-bottom: 1px solid $grey;

        @media print {
            padding: 0;
            border: none;
            margin: 0;
            page-break-after: always;
        }
    }

    &__doctor_name {
        font-size: rem(24);
    }

    &__patient {
        padding: 10px;
        margin: 20px 0 0;
        background-color: $light-grey;
        border: 1px solid $grey;

        @media print {
            -webkit-print-color-adjust: exact;
            font-size: rem(16);
        }
    }

    &__patient_name {
        font-size: rem(20);

        @media print {
            font-size: rem(16);
        }

        a {
            color: $black;
        }
    }

    &__drugs_info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        margin: 10px 0 0;
        font-size: rem(20);
        color: $red;

        @media print {
            font-size: rem(16);
        }

        span {
            color: $black;
        }
    }

}