$h: header;


.#{$h} {

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    box-shadow: 0 2px 8px $grey;

    @media print {
        display: none;
    }

    &__nav {
        display: flex;
        height: 50px;

        a {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 50px;
            color: $black;

            &:hover,
            &.router-link-active {
                color: $red;
            }

            &:not(:first-child) {
                margin: 0 0 0 30px;
            }
        }
    }

    &__logout_btn {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        background-color: $red;
        color: #fff;
        margin: 0 0 0 auto;
        cursor: pointer;

        &:hover {
            background-color: darken($red, 10%);
        }
    }
}