$pl: patients_list;


.#{$pl} {

    &__item {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 15px;
        border-bottom: 1px solid $grey;
        font-size: rem(24);

        &:not(:first-child) {
            margin: 20px 0 0;
        }

        a {
            color: $black;
        }
    }

}